{
  "presets": [
    "preact",
    [
      "@babel/env",
      {
        "modules": false,
        "targets": {
          "esmodules": true
        }
      }
    ]
  ],
  "plugins": [
    ["styled-jsx/babel"]
  ]
}